<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Cambios en {{playa.nombre}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
                <li><a ng-click="VPlaya1()">
                    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

        <table ng-table="tableParams0" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Descripción'">{{row.playa.description}}</td>
                <td data-title="'Comentarios'">{{row.playa.comments}}</td>
                <td data-title="'Fecha'">{{row.date}}</td>
                <td><a ng-click="ARevertir0(row['_id'])">Revertir</a></td>
            </tr>
        </table>

<hr />


<div id="right"></div>