<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Nueva playa</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VPlayas1()">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

    <form name="fPlayaForm" ng-submit="ACrearPlaya0(fPlayaForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fPlayaSubmitted && fPlayaForm.nombre.$invalid && fPlayaForm.nombre.$pristine && fPlayaSubmitted}"><label for="fPlaya_nombre">Nombre</label><input id="fPlaya_nombre" type="text" name="nombre" class="form-control" ng-model="fPlaya.nombre" placeholder="Nombre" required/><p ng-show="fPlayaSubmitted && fPlayaForm.nombre.$invalid" class="help-block">Error en campo Nombre.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fPlayaSubmitted && fPlayaForm.descripcion.$invalid && fPlayaForm.descripcion.$pristine && fPlayaSubmitted}"><label for="fPlaya_descripcion">Descirpción</label><div id="fPlaya_descripcion" text-angular="text-angular" name="descripcion" ng-model="fPlaya.descripcion" ></div><p ng-show="fPlayaSubmitted && fPlayaForm.descripcion.$invalid" class="help-block">Error en campo Descirpción.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fPlayaSubmitted && fPlayaForm.comentario.$invalid && fPlayaForm.comentario.$pristine && fPlayaSubmitted}"><label for="fPlaya_comentario">Comentario</label><input id="fPlaya_comentario" type="text" name="comentario" class="form-control" ng-model="fPlaya.comentario" placeholder="Comentario" required/><p ng-show="fPlayaSubmitted && fPlayaForm.comentario.$invalid" class="help-block">Error en campo Comentario.</p></div>
            <input id="fPlaya_idPlaya" type="hidden" name="idPlaya" ng-model="fPlaya.idPlaya" />
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Crear
        </button>
    </form>
    <hr />


<div id="right"></div>