<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >{{Playa.nombre}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-click="VModifPlaya0(playa.name)">Modificar</a></li>
                <li><a ng-click="VCambios2(playa.name)">Cambios</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
                <li><a ng-click="VPlayas1()">Regresar</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="page-header">
    <div class="row">
        <div class="col-xs-1">
            <img ng-src="img/playa.ico" height="70"/>              
        </div>
        <div class="col-xs-11">
            <h1>{{playa.name}}</h1>            
        </div>
    </div>
</div>

<p>{{playa.description}}</p>
<div class="page-header">
<h2><small>Comentarios</small></h2>    
</div>
{{playa.comments}}

<div id="right"></div>