<!DOCTYPE html>
<html ng-app="playazo">
    <head><title>playazo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bsPerso.css">
        <link rel="stylesheet" href="css/angular/ngDialog.min.css">
        <link rel="stylesheet" href="css/angular/ngDialog-theme-default.min.css">
        <link rel="stylesheet" href="css/angular/ng-table.min.css">
        <link rel="stylesheet" href="css/app/style.css">
        <link rel="shortcut icon" href="img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
<body ng-controller="playazoController_">
    <div class="container">
        <flash:messages class="alert-perso"></flash:messages>
        <div ng-view></div>
    </div>
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-xs-12" style="background-color: #333333; height: 2px;"></div>
          </div>
          <div class="row">
              <div class="col-xs-10 text-inverse" ng-bind="title"></div>
              <div class="col-xs-2" style="text-align: right"><img alt="Logo" src="img/logo.png" height="30" /></div>
          </div>
      </div>
    </footer>
    <!-- LOAD JQUERY -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/d3.v3.min.js"></script>

    <!-- LOAD ANGULAR -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/angular/textAngular-sanitize.min.js"></script>
    <script src="js/angular/textAngular.min.js"></script>
    <script src="js/angular/ngDialog.min.js"></script>
    <script src="js/jquery.layout-latest.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular/ng-flash.js"></script>
    <!-- LOAD APP -->
    <script src="js/app/app.js"></script>
    <script src="js/app/p/PService.js"></script>
    <script src="js/app/p/PController.js"></script>

    <!-- LOAD NGTABLE -->
    <script src="js/angular/ng-table.min.js"></script>
<script type="text/ng-template" id="pager.html">
<ul class="pager ng-cloak" ng-show="pages.length>1">
    <li ng-repeat="page in pages"
          ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
          ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
      <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
      <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
    </li>
      <li> 
      <div class="btn-group">
          <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
          <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
          <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
          <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
      </div>
      </li>
  </ul>
</script>

</body>
</html>
